<html>
    <head>
        <title>about page</title>
    </head>
    <body>
        {{>header}}
        <h1>about page</h1>
        <h3>{{createdBy}}</h3>
        <script src="./js/app.js" ></script>
        <img src='./img/apple.png'>
        {{>footer}}
    </body>
</html>